/* NavBar */
.bd-page-width {
    max-width: calc(1500px + var(--pst-sidebar-secondary));
}
.navbar img{
    border: 0px;
}
.nav-item.current.active .nav-link:hover {
    text-decoration: none;
    color: var(--pst-color-primary);
    font-weight: 600;
}

.navbar .btn {
    transition: 100ms all;
    &:hover {
        color: var(--pst-color-link-hover);
    }

    &.search-button-field {
        &:hover, &:not(:hover) {
            border: none;
        }
        outline: 1px solid var(--pst-color-border);
        &:hover {
            outline: 2px solid var(--pst-color-link-hover);

            kbd {
                border-color: var(--pst-color-link-hover);
                color: var(--pst-color-link-hover);
            }
        }
        background-color: var(--ofe-color-BadassBlue);
    }
}

.bd-header label.sidebar-toggle {
    color: var(--pst-color-text-muted)
}

.bd-header .navbar-nav > .current > .nav-link {
    border-color: var(--ofe-color-accent);
}

/* Remove underlines from links */
a:not(:hover) *, a:not(:hover) {
    text-decoration: none;
}

.prev-next-area a {
    code {
        color: var(--pst-color-inline-code-links);
    }
    p.prev-next-title {
        text-decoration: none;
    }
}

/* Other minor styling tweaks */

img {
    border: 2px solid var(--ofe-color-BeastlyGrey);
    background: var(--ofe-color-SandySergio);
}

/*
Links bar at top of notebooks
*/
.ofe-top-of-notebook {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3em;
    margin: 0;
    padding: 0;
}

/*
Move break points for secondary sidebar and search button
*/
@media (max-width: 1500px) {
  .bd-sidebar-secondary {
    flex-grow: .75;
    height: 100vh;
    margin-right: -75%;
    max-height: 100vh;
    max-width: 350px;
    position: fixed;
    right: 0;
    top: 0;
    transition: visibility .2s ease-out,margin .2s ease-out;
    visibility: hidden;
    width: 75%;
    z-index: 1055;
    font-size: var(--pst-sidebar-font-size-mobile);
  }

  .search-button-field .search-button__kbd-shortcut
  {
    display: none;
  }
}
