@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Fira+Mono:wght@400;500;700&family=IM+Fell+DW+Pica:ital@0;1&display=swap');

html {
    --pst-font-family-base: "San Francisco", "Helvetica Neue", "Helvetica", "Arial";
    --pst-font-weight-base: 300;

    // --pst-font-family-heading: "EB Garamond", serif;
    --pst-font-family-heading: "IM Fell DW Pica", serif;
    --pst-font-weight-heading: 400;

    --pst-font-family-monospace: 'Fira Mono', var(--pst-font-family-monospace-system);
    --pst-font-weight-monospace: 400;
}
